<div *ngIf="bus">
  <md-card class="example-card">
    <md-card-header>
      <md-card-title-group>
        <md-card-title>{{bus.busNo.toUpperCase()}}</md-card-title>
        <md-card-subtitle>{{bus.route.source}}-{{bus.route.destination}}</md-card-subtitle>
        <md-card-subtitle>{{bus.busType.type}}</md-card-subtitle>
        <md-card-subtitle>{{bus.departureTime}}</md-card-subtitle>
        <md-card-subtitle>{{bus.services}}</md-card-subtitle>


      </md-card-title-group>
    </md-card-header>

    <img md-card-image src="assets/bus_yellow.png" style="  height: 150px;px; width:230px;">
    <md-card-content>
      <p>
        Travel from {{bus.route.source}} to {{bus.route.destination}} with full ease, enjoyment and fun with this
        luxury bus
      </p>
    </md-card-content>
    <div class="row">
      <div class="col-md-2">
        <div>
          Seats Index:
          <table>
            <tbody>
            <tr>
              <td>selected seat:</td>
              <td class="selectedSeat"><img src="assets/seat.png"/></td>
            </tr>
            <tr>
              <td>booked seat:</td>
              <td class="reservedSeat"><img src="assets/seat.png"/></td>
            </tr>
            <tr>
              <td>available seat:</td>
              <td class="availableSeat"><img src="assets/seat.png"/></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-6">
        <md-card>
          <table class="seat">
            <caption>Seats</caption>
            <tbody>
            <tr *ngFor="let a of seatsArray; let x = index">
              <td *ngFor="let b of a;let y = index" id="box">
                <a>
                  <div class="sterring-box" *ngIf="x===0&&y===0" (click)="open()">
                    <img src="assets/steering.png"/>
                  </div>
                  <div *ngFor="let seat of bus.seatList"
                       [class.reservedSeat]="seat.status"
                       [class.selectedSeat]="seat.selected" (click)="selectSeat(seat)"
                       [class.availableSeat]="!seat.status && !seat.selected">
                    <ng-container *ngIf="seat.seatMapValueX==x && seat.seatMapValueY==y">
                      <img src="assets/seat.png"/>
                      <label id="text">{{seat.seatName}}</label>

                    </ng-container>
                    <!--{{seat.seatMapValueX+""+seat.seatMapValueY}}-->
                  </div>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </md-card>
        <md-card-actions>
        </md-card-actions>
      </div>
      <div class="col-md-2">
        <label>Fare:</label>
        <table>
          <tbody>
          <tr>
            <td>Seat(s):
            </td>
            <td>
              <ng-container *ngFor="let seat of selectedSeatList">
                {{seat.seatName}},
              </ng-container>
            </td>
          </tr>
          <tr>
            <td>Amount:</td>
            <td>Rs:{{selectedSeatList.length*500}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <md-card-actions>
      <a md-button [routerLink]="['/']">Back</a>
      <a md-button (click)="continueBook()">continue booking</a>
    </md-card-actions>
  </md-card>
</div>

