tr, td, th
{
  border: 0;
  padding-right: 20px;
}
table {
  margin:200px auto; /* or margin: 0 auto 0 auto */
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {

}
.example-full-width{
  color:red;
}
