<div class="container" style="text-align: center">
  <div class="row">
    <div style="background:url('assets/bus.png')no-repeat center; height:475px; margin:auto;">
      <div class="starter-template">
        <table>
          <tr>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput placeholder="Source">
              </md-input-container>
            </td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Destination">
            </md-input-container>
            <td>
              <button md-fab>
                <md-icon>search</md-icon>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <h1><strong>Breaking New Dimensions</strong></h1>
</div>
<div class="container" style="height: 100px;">
  <div class="row">
    <div class="col-md-1">
      <!--<img src="assets/lamborghini.png" width="70px" height="70px">-->
    </div>
    <div class="col-md-1">
      <!--<img src="assets/lamborghini.png" width="70px" height="70px">-->
    </div>
    <div class="col-md-1">
      <!--<img src="assets/lamborghini.png" width="70px" height="70px">-->
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
      <img src="assets/bmw.png" width="70px" height="70px">

    </div>
    <div class="col-md-1">
      <img src="assets/lamborghini.png" width="70px" height="70px">
    </div>
    <div class="col-md-1">
      <img src="assets/hyundai.png" width="70px" height="70px">
    </div>
    <div class="col-md-1">
      <img src="assets/porsche.png" width="70px" height="70px">
    </div>
    <div class="col-md-1">
      <!--<img src="assets/lamborghini.png" width="70px" height="70px">-->
    </div>
    <div class="col-md-1">
      <!--<img src="assets/lamborghini.png" width="70px" height="70px">-->
    </div>
    <div class="col-md-1">
      <!--<img src="assets/lamborghini.png" width="70px" height="70px">-->
    </div>
    <div class="col-md-1">
      <!--<img src="assets/lamborghini.png" width="70px" height="70px">-->
    </div>
  </div>
</div>

<div class="container" style="background-color:#edeff2">
  <div class="row">
    <div class="col-md-3" *ngFor="let bus of busList">
      <md-card class="example-card">
        <md-card-header style="">
          <!--<div md-card-avatar class="example-header-image"></div>-->
          <md-card-title>{{bus.busNo.toUpperCase()}}</md-card-title>
          <md-card-subtitle>{{bus.route.source}} {{bus.route.destination}}</md-card-subtitle>
        </md-card-header>

        <img md-card-image src="assets/bus_yellow.png">
        <md-card-content>
          <p>
            Travel from {{bus.route.source}} to {{bus.route.destination}} with full ease ,enjoyment and fun with this
            luxury bus
          </p>
        </md-card-content>
        <md-card-actions>
          <a md-button [routerLink]="['/detail/', bus.busNo]">view details</a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>

<!--<md-card class="example-card">-->
<!--<img md-card-image src="assets/bus.png">-->
<!--<md-card-actions>-->
<!--<button md-button>LIKE</button>-->
<!--<button md-button>SHARE</button>-->
<!--</md-card-actions>-->
<!--</md-card>-->

<!--<div class="col-md-2" style="float:right">-->
<!--<div>-->
<!--<h2>source:</h2>-->
<!--<input type="text" [(ngModel)]="route.source">-->
<!--<h2>destination:</h2>-->
<!--<input type="text" [(ngModel)]="route.destination"><br><br>-->
<!--<button (click)="searchBus()">search</button>-->
<!--</div>-->
<!--</div>-->

<!--<div class="container" style="margin:auto;">-->
<!--<table>-->
<!--<thead>-->
<!--<tr>-->
<!--<th>bus no</th>-->
<!--<th>name</th>-->
<!--<th>type</th>-->
<!--<th>services</th>-->
<!--<th>departure-time</th>-->
<!--<th>seats</th>-->
<!--<th>route</th>-->
<!--<th>fare</th>-->
<!--<th></th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody *ngFor="let bus of busList">-->
<!--<tr>-->
<!--<td>{{bus.busNo}}</td>-->
<!--<td>{{bus.busName}}</td>-->
<!--<td>{{bus.busType.type}}</td>-->
<!--<td>{{bus.services}}</td>-->
<!--<td>{{bus.departureTime}}</td>-->
<!--<td>-->
<!--<ng-container *ngFor="let seat of bus.seatList">-->
<!--{{seat.seatName}},-->
<!--</ng-container>-->
<!--</td>-->
<!--<td>{{bus.route.source}}-{{bus.route.destination}}</td>-->
<!--<td></td>-->
<!--<td>-->
<!--<a [routerLink]="['/detail/', bus.busNo]">view details</a>-->
<!--</td>-->
<!--<tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->


