<!--<md-card class="example-card">-->
<!--<img md-card-image src="assets/bus.png">-->
<!--<md-card-actions>-->
<!--<button md-button>LIKE</button>-->
<!--<button md-button>SHARE</button>-->
<!--</md-card-actions>-->
<!--</md-card>-->

<div class="container">
  <div class="row">
    <div style="background:url('assets/bus.png')no-repeat center; height:400px; margin:auto;">
      <div class="starter-template">
        <table>
          <tr>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput placeholder="Source">
              </md-input-container>
            </td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Destination">
            </md-input-container>
            <td>
              <button md-fab>
                <md-icon>search</md-icon>
              </button>
            </td>
          </tr>
        </table>
        <br>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="assets/bus.png">
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="assets/bus.png">
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>

    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="assets/bus.png">
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="assets/bus.png">
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>

<!--<md-card class="example-card">-->
<!--<img md-card-image src="assets/bus.png">-->
<!--<md-card-actions>-->
<!--<button md-button>LIKE</button>-->
<!--<button md-button>SHARE</button>-->
<!--</md-card-actions>-->
<!--</md-card>-->

<!--<div class="col-md-2" style="float:right">-->
<!--<div>-->
<!--<h2>source:</h2>-->
<!--<input type="text" [(ngModel)]="route.source">-->
<!--<h2>destination:</h2>-->
<!--<input type="text" [(ngModel)]="route.destination"><br><br>-->
<!--<button (click)="searchBus()">search</button>-->
<!--</div>-->
<!--</div>-->
<div class="container" style="margin:auto;">
  <table>
    <thead>
    <tr>
      <th>bus no</th>
      <th>name</th>
      <th>type</th>
      <th>services</th>
      <th>departure-time</th>
      <th>seats</th>
      <th>route</th>
      <th>fare</th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngFor="let bus of busList">
    <tr>
      <td>{{bus.busNo}}</td>
      <td>{{bus.busName}}</td>
      <td>{{bus.busType.type}}</td>
      <td>{{bus.services}}</td>
      <td>{{bus.departureTime}}</td>
      <td>
        <ng-container *ngFor="let seat of bus.seatList">
          {{seat.seatName}},
        </ng-container>
      </td>
      <td>{{bus.route.source}}-{{bus.route.destination}}</td>
      <td></td>
      <td>
        <a [routerLink]="['/detail/', bus.busNo]">view details</a>
      </td>
    <tr>
    </tbody>
  </table>
</div>


