<div>
  <table>
    <tr>
      <td>Bus no:</td>
      <td><input type="text" [(ngModel)]="bus.busNo"/></td>
    </tr>
    <tr>
      <td>Bus name:</td>
      <td><input type="text" [(ngModel)]="bus.busName"/></td>
    </tr>
    <tr>
      <td>Departure Time:</td>
      <td><input type="time" [(ngModel)]="bus.departureTime"></td>
    </tr>
    <tr>
      <td>
        Sevices:
      </td>
      <td>
        <input type="text" [(ngModel)]="bus.services">
      </td>
    </tr>
    <tr>
      <td>routes:
      </td>
      <td>
        <select [(ngModel)]="bus.route">
          <option *ngFor="let route of routeList" [ngValue]="route">{{route.source}}-{{route.destination}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>bus type:</td>
      <td>
        <select [(ngModel)]="bus.busType">
          <option *ngFor="let busType of busTypeList" [ngValue]="busType">{{busType.type}}</option>
        </select>
      </td>
    </tr>
  </table>
  seats:<br>
  row:<input type="number" [(ngModel)]="bus.seatRow" (ngModelChange)="initialiseSeatArray()" min="1" max="6"><br>

  coloumn:<input type="number" [(ngModel)]="bus.seatColumn" (ngModelChange)="initialiseSeatArray()" min="1" max="10">
  <table class="seat">
    <thead></thead>
    <tbody>
    <tr *ngFor="let a of seatsArray; let x = index">
      <td *ngFor="let b of a;let y = index">
        <h1><a (click)="openDialog(x,y)" [class.selected]="(x.toString()+y.toString()) === selectedSeatMapValue">{{x}}{{y}}</a>
        </h1>
      </td>
    </tr>
    </tbody>
  </table>
  <!--seat--detail-->
  <div *ngIf="selectedSeatMapValue">
    <label>selected seat map:{{selectedSeatMapValue}}</label><br>
    seat name:<input type="text" #seatname><br>
    <button (click)="addSeat(seatname.value)">add seat</button>
    <button>cancel</button>
  </div>
  <button (click)="createBus()">Add</button>
</div>

<!--bus-table-->
<table border="1">
  <thead>
  <tr>
    <th>bus no</th>
    <th>name</th>
    <th>type</th>
    <th>services</th>
    <th>departure-time</th>
    <th>seats</th>
    <th>route</th>
    <th>options</th>

  </tr>
  </thead>
  <tbody *ngFor="let bus of busList">
  <tr>
    <td>{{bus.busNo}}</td>
    <td>{{bus.busName}}</td>
    <td>{{bus.busType.type}}</td>
    <td>{{bus.services}}</td>
    <td>{{bus.departureTime}}</td>
    <td>
      <ng-container *ngFor="let seat of bus.seatList">
        {{seat.seatName}},
      </ng-container>
    </td>
    <td>{{bus.route.source}}-{{bus.route.destination}}</td>
    <td>
      <button (click)="goDetail(bus)">select</button>
      <button (click)="deleteBus(bus); $event.stopPropagation()">delete</button>
    </td>
  </tr>
  </tbody>
</table>

