/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
}

.selected {
  background-color: red;
  color: white;
}
.seat{
  width: 60%;

}
.grid {
  position: relative;
}

.grid-item {
  position: absolute;
}


.placeholder {
  position: absolute;
}
img {
  width: 30px;
  height:30px;
}

.sterring-box{
  width:0px;
}
table td
{
  table-layout:fixed;
  width:20px;
  height: 20px;
  word-wrap:break-word;
}
